$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "_custom";

.modal-backdrop.show {
  opacity: 0.3 !important; 
  background-color: #000 !important;
}
.sidebar-nav-item {
  margin-left: 12px;
  border-radius: 10px;           
  padding-left: 18px !important;   
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
    transform: translateX(3px);    
    cursor: pointer;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.12);
  }
}
