$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "_custom";

.modal-backdrop.show {
  opacity: 0.3 !important; 
  background-color: #000 !important;
}