$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "_custom";

.modal-backdrop.show {
  opacity: 0.3 !important;
  background-color: #000 !important;
}

@keyframes fadeLoop {
  0%   { opacity: 0; transform: translateY(-2px); }
  50%  { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(2px); }
}

@media (max-width: 768px) {
  .ant-table-cell {
    padding: 8px;
    font-size: 13px;
  }
}
